<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Sales.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61574781240043&sk=about"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://x.com/TerraOfEchoes"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/echoes0fterra/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@echoesofterra"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <div class="title">Art for Sale</div>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/sales">Sales</a>
                <a href="/portfolio">Portfolio</a>
            </div>
        </div>
    </header>

    <main>
        <h1>Art Pieces for Sale</h1>
        <div class="gallery">

            <!-- Art Piece 1 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/Aralsea.jpg') }}" alt="Aral Sea">
                <h3>Aral Sea</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/WHF8ED38VS94Q" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 2 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/zayanderud.jpg') }}" alt="Zayanderud">
                <h3>Zayanderud</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/9JBWE96QNM2BJ" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 3 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/icelandicforests.jpg') }}" alt="Icelandic Forests">
                <h3>Icelandic Forests</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/ZRLYE76RAPUKW" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 4 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/nativeamericans.jpg') }}" alt="Native Americans">
                <h3>Native Americans</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/8L9LB3MF724JN" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 5 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/vikingspast.jpg') }}" alt="Vikings Past">
                <h3>Vikings Past</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/8L9LB3MF724JN" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 6 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/jerusalem.jpg') }}" alt="Jerusalem">
                <h3>Jerusalem</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/UL4Q5HYYJ5NX6" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 7 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/Parthenon.jpg') }}" alt="Parthenon">
                <h3>Parthenon</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/2VTQDG2Y54A68" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 8 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/Olympia.jpg') }}" alt="Olympia">
                <h3>Olympia</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/FNCTCYMV7NCNL" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 9 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/Egyptian_Hie.jpg') }}" alt="Egyptian Hieroglyphics">
                <h3>Egyptian Hieroglyphics</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/65JFFH5SUCMT6" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 10 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/Linear A.jpg') }}" alt="Egyptian Hieroglyphics">
                <h3>Linear A Modernized</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/65JFFH5SUCMT6" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 11 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/pahlavi era.jpg') }}" alt="Pahlavi Era">
                <h3>Pahlavi Era</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/HRGDFCQTD9KV4" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 12 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/achaemenid empire.jpg') }}" alt="Achaemenid Empire">
                <h3>Achaemenid Empire</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/WZZ7VQAJWYYNA" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 13 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/shahnameh2.jpg') }}" alt="Shahnameh">
                <h3>Shahnameh</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/CAFF73VDP5C8G" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

            <!-- Art Piece 14 -->
            <div class="art-piece">
                <img src="{{ url_for('static', filename='images/pairidaeza.jpg') }}" alt="Pairidaeza">
                <h3>Pairidaeza</h3>
                <p class="price">$100</p>
                <form action="https://www.paypal.com/ncp/payment/398363BUXVS6U" method="post" target="_blank">
                    <input type="submit" value="Buy Now" class="buy-btn">
                    <img src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards" />
                    <section>Powered by 
                        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;" />
                    </section>
                </form>
            </div>

        </div>
    </main>

    <footer>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    </footer>
</body>
</html>
